* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

:root {

  --p_color : #000;
  --p_color_hover : #f15e50;
  --bg__info : #00001a;
  --button_bg : #f15e50;
  --button_bg_hover : #00001a;
  --button_text : #fff;
  --background : #fff;
  --main__h1 : #00001a;
  --main__p : #000000b9;
  --card_h1 : #00001a;
  --logo__invert : invert(0%);
}

.dark {
  --p_color : #fff;
  --p_color_hover : #e9ab53;
  --bg__info : #090909;
  --button_bg : #f15e50;;
  --button_bg_hover : #e9ab53;
  --button_text : #fff;
  --background : #141414;
  --main__h1 : #ffffff;
  --main__p : rgba(255, 255, 255, 0.753);
  --card_h1 : #fff;
  --logo__invert : invert(100%);
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background);
}

html,
body,
#root,
.App {
  height: 100%;
}

#root {
  margin: 0 auto;
  max-width: 1200px;
}

.backdrop {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.61);
  z-index: 100;
}

.backdrop.active {
  display: block;
}

.sidebar__btn {
  display: none;
  z-index: 2000;
  right: 0.5rem;

}

.sidebar__btn.active {
  position: fixed;
  right: 1rem;
  transition: none;

}

.sidebar_menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: -600px;
  width: 65%;
  overflow-x: hidden;
  height: 100%;
  background-color: var(--background);
  display: none;
  transition: 0.3s ease-in-out;
}

.sidebar_menu.active {
  right: 0;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
  margin-top: 10rem;
}

.sidebar__list li {
  margin-bottom: 1.8rem;
  list-style: none;
}

.sidebar__list li a {
  font-size: 1rem;
  color: var(--main__h1);
  text-decoration: none;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.header__switch--mode {
  display: flex;
  align-items: center;
}

.header__switch--mode p {
  color: var(--p_color);
  opacity: 0.5;
  margin-right: 20px;
}

.toggle--checkbox {
  -webkit-appearance: none;
  position: relative;
  width: 30px;
  height: 15px;
  border-radius: 25px;
  background: rgb(182, 182, 182);
  transition: all 0.5s;
  outline: none;
  cursor: pointer;
}

.toggle--checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 0.8rem;
  width: 0.8rem;
  background: white;
  transition: all 0.3s ease-in-out;
}

.toggle--checkbox:checked {
  background: linear-gradient(45deg, #378fe6, #3eda82);
}

.toggle--checkbox:checked::after {
  left: 70%;
}

.header__logo img {
  width: 50px;
  filter: var(--logo__invert); -webkit-filter: var(--logo__invert);
}

.sidebar__btn
{
  display: none;
}

.header__nav > nav > ul {
  display: flex;
  list-style: none;
}

.header__nav > nav > ul > li {
  margin-left: 1rem;
}

.header__nav > nav > ul > li > a {
  text-decoration: none;
  color: var(--p_color);
  font-size: 1rem;
  opacity: 0.5;
}

.header__nav > nav > ul > li > a:hover {
  color: var(--p_color_hover);
}

.main__content {
  display: grid;
  padding-bottom: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  gap: 50px 40px;
  grid-template-areas:
    "Photo Photo Info"
    "Text Text Info"
    "a b c";
}

.photo {
  grid-area: Photo;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img_phone {
  display: none;
}

.info {
  grid-area: Info;
  background-color: var(--bg__info);
}

.info h1 {
  color: #e9ab53;
  font-size: 2.5rem;
  padding: 1rem;
}

.news h2 {
  color: var(--button_text);
  font-size: 1.3rem;
  padding: 1.5rem 1rem 1rem 1rem;
  cursor: pointer;
}

.news h2:hover {
  color: #e9ab53;
}

.news p {
  color: #fffdfa8f;
  font-size: 1rem;
  padding: 0.5rem 1rem 2rem 1rem;
}

hr {
  border: 1px solid #fffdfa3d;
  width: 100%;
  text-align: center;
}

.main__topic {
  display: grid;
  grid-area: Text;
  grid-template-columns: 1fr 1fr;
}

.main__topic--title h1 {
  color: var(--main__h1);
  font-size: 4rem;
}

.main__topic--text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__topic--text p {
  color: var(--main__p);
  font-size: 1.2rem;
  line-height: 30px;
}

.main__topic--text button {
  background-color: var(--button_bg);
  color: var(--button_text);
  border: none;
  font-family: inherit;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  width: 50%;
  letter-spacing: 5px;
}

.main__topic--text button:hover {
  background-color: var(--button_bg_hover);
}

.card {
  display: flex;
}

.card > img {
  width: 100px;
  height: 100%;
  object-fit: cover;
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem;
}

.card__info h1 {
  color: var(--card_h1);
  opacity: 0.5;
  font-size: 3rem;
}

.card__info h2 {
  color: var(--p_color);
  font-size: 1.3rem;
}

.card__info p {
  color: var(--p_color);
  opacity: 0.8;
  font-size: 1rem;
  line-height: 25px;
}

@media screen and (max-width: 767.98px) {
  .main__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

 #root  {
    padding: 1rem;
  }

  .header__nav {
    display: none;
  }

  .sidebar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    aspect-ratio: 1/1;
    border: none;
    cursor: pointer;
  }

  .sidebar_menu {
    display: block;
  }

  .sidebar__btn > img {
    width: 100%;
    filter: var(--logo__invert); -webkit-filter: var(--logo__invert);
  }

  #switch__mode {
    opacity: 1;
  }

  .img {
    display: none;
  }

  .img_phone {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main__topic {
    display: flex;
    flex-direction: column;
  }

  .main__topic--text button {
    margin-top: 1rem;
  }

  .main__topic--title h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .main__topic--text p {
    font-size: 1rem;
  }


  .card > img {
    height: initial;
  }
}

@media screen and (max-width: 991.98px) {
  body {
    padding: 1rem;
  }

  .main__content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 1fr;
    gap: 50px 40px;
    grid-template-areas:
      "Photo Photo"
      "Text Text"
      "Info Info";
  }

  .header__nav {
    display: none;
  }

  .sidebar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    aspect-ratio: 1/1;
    border: none;
    cursor: pointer;
  }

  .sidebar_menu {
    display: block;
  }

  .sidebar__btn > img {
    width: 100%;
    filter: var(--logo__invert); -webkit-filter: var(--logo__invert);
  }

  #switch__mode {
    opacity: 1;
  }
  .main__topic {
    display: flex;
    flex-direction: column;
  }

  .main__topic--title h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .main__topic--text p {
    font-size: 1rem;
  }

  .main__topic--text button {
    margin-top: 1rem;
  }

  .main__topic--text button {
    width: 100%;
  }

  .card {
    flex-direction: column;
  }

  .card > img {
    width: 100%;
    height: initial;
  }

  .card__info {
    padding: 1rem 0;
  }
  
}
